@model Form
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <div><a href="/Home/CyberAttack" class="btn btn-primary" value="Siber Olay Bildirimlerim">Siber Olay Bildirimlerim</a>
         <a href="/Home/ContentProvider" class="btn btn-primary" value="Siber Olay Bildirimlerim">İçerik Sağlama Taleplerim</a></div>
</div>
